<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <meta-data
            android:name="org.gulpgulpgulpdotengine.plugin.v2.GulpgulpgulpdotAppInstrumentedTestPlugin"
            android:value="com.gulpgulpgulpdot.game.test.GulpgulpgulpdotAppInstrumentedTestPlugin"/>
    </application>

</manifest>
