# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners can be @users, @org/teams or emails.

# Core

/core/                                        @gulpgulpgulpdotengine/core
/core/crypto/                                 @gulpgulpgulpdotengine/network
/core/debugger/                               @gulpgulpgulpdotengine/debugger
/core/extension/                              @gulpgulpgulpdotengine/gdextension
/core/input/                                  @gulpgulpgulpdotengine/input

# Doc

/doc/                                         @gulpgulpgulpdotengine/documentation

# Drivers

## Audio
/drivers/alsa/                                @gulpgulpgulpdotengine/audio
/drivers/alsamidi/                            @gulpgulpgulpdotengine/audio
/drivers/coreaudio/                           @gulpgulpgulpdotengine/audio
/drivers/coremidi/                            @gulpgulpgulpdotengine/audio
/drivers/pulseaudio/                          @gulpgulpgulpdotengine/audio
/drivers/wasapi/                              @gulpgulpgulpdotengine/audio
/drivers/winmidi/                             @gulpgulpgulpdotengine/audio
/drivers/xaudio2/                             @gulpgulpgulpdotengine/audio

## Rendering
/drivers/d3d12/                               @gulpgulpgulpdotengine/rendering
/drivers/dummy/                               @gulpgulpgulpdotengine/rendering
/drivers/egl/                                 @gulpgulpgulpdotengine/rendering
/drivers/gles3/                               @gulpgulpgulpdotengine/rendering
/drivers/metal/                               @gulpgulpgulpdotengine/rendering
/drivers/spirv-reflect/                       @gulpgulpgulpdotengine/rendering
/drivers/vulkan/                              @gulpgulpgulpdotengine/rendering

## OS
/drivers/unix/                                @gulpgulpgulpdotengine/linux-bsd
/drivers/windows/                             @gulpgulpgulpdotengine/windows

## Misc
/drivers/png/                                 @gulpgulpgulpdotengine/import

# Editor

/editor/                                      @gulpgulpgulpdotengine/docks
/editor/animation/                            @gulpgulpgulpdotengine/animation
/editor/audio/                                @gulpgulpgulpdotengine/audio
/editor/debugger/                             @gulpgulpgulpdotengine/debugger
/editor/doc/                                  @gulpgulpgulpdotengine/documentation
/editor/docks/                                @gulpgulpgulpdotengine/docks
/editor/gui/                                  @gulpgulpgulpdotengine/usability @gulpgulpgulpdotengine/gui-nodes
/editor/icons/                                @gulpgulpgulpdotengine/usability
/editor/import/                               @gulpgulpgulpdotengine/import
/editor/inspector/                            @gulpgulpgulpdotengine/docks
/editor/scene/2d/                             @gulpgulpgulpdotengine/2d-editor
/editor/scene/2d/physics/                     @gulpgulpgulpdotengine/2d-editor @gulpgulpgulpdotengine/physics
/editor/scene/3d/                             @gulpgulpgulpdotengine/3d-editor
/editor/scene/3d/physics/                     @gulpgulpgulpdotengine/3d-editor @gulpgulpgulpdotengine/physics
/editor/scene/gui/                            @gulpgulpgulpdotengine/gui-nodes
/editor/script/                               @gulpgulpgulpdotengine/script-editor
/editor/shader/                               @gulpgulpgulpdotengine/script-editor @gulpgulpgulpdotengine/shaders
/editor/themes/                               @gulpgulpgulpdotengine/usability @gulpgulpgulpdotengine/gui-nodes
/editor/translations/                         @gulpgulpgulpdotengine/usability

# Main

/main/                                        @gulpgulpgulpdotengine/core

# Misc

/misc/                                        @gulpgulpgulpdotengine/buildsystem
/misc/extension_api_validation/               @gulpgulpgulpdotengine/gdextension @gulpgulpgulpdotengine/dotnet

# Modules

## Audio (+ video)
/modules/interactive_music/                   @gulpgulpgulpdotengine/audio
/modules/interactive_music/doc_classes/       @gulpgulpgulpdotengine/audio @gulpgulpgulpdotengine/documentation
/modules/mp3/                                 @gulpgulpgulpdotengine/audio
/modules/mp3/doc_classes/                     @gulpgulpgulpdotengine/audio @gulpgulpgulpdotengine/documentation
/modules/ogg/                                 @gulpgulpgulpdotengine/audio
/modules/ogg/doc_classes/                     @gulpgulpgulpdotengine/audio @gulpgulpgulpdotengine/documentation
/modules/theora/                              @gulpgulpgulpdotengine/audio
/modules/theora/doc_classes/                  @gulpgulpgulpdotengine/audio @gulpgulpgulpdotengine/documentation
/modules/vorbis/                              @gulpgulpgulpdotengine/audio
/modules/vorbis/doc_classes/                  @gulpgulpgulpdotengine/audio @gulpgulpgulpdotengine/documentation

## Import
/modules/astcenc/                             @gulpgulpgulpdotengine/import
/modules/basis_universal/                     @gulpgulpgulpdotengine/import
/modules/bcdec/                               @gulpgulpgulpdotengine/import
/modules/betsy/                               @gulpgulpgulpdotengine/import
/modules/bmp/                                 @gulpgulpgulpdotengine/import
/modules/cvtt/                                @gulpgulpgulpdotengine/import
/modules/dds/                                 @gulpgulpgulpdotengine/import
/modules/etcpak/                              @gulpgulpgulpdotengine/import
/modules/fbx/                                 @gulpgulpgulpdotengine/import
/modules/fbx/doc_classes/                     @gulpgulpgulpdotengine/import @gulpgulpgulpdotengine/documentation
/modules/gltf/                                @gulpgulpgulpdotengine/import
/modules/gltf/doc_classes/                    @gulpgulpgulpdotengine/import @gulpgulpgulpdotengine/documentation
/modules/gltf/tests/                          @gulpgulpgulpdotengine/import @gulpgulpgulpdotengine/tests
/modules/hdr/                                 @gulpgulpgulpdotengine/import
/modules/jpg/                                 @gulpgulpgulpdotengine/import
/modules/ktx/                                 @gulpgulpgulpdotengine/import
/modules/squish/                              @gulpgulpgulpdotengine/import
/modules/svg/                                 @gulpgulpgulpdotengine/import
/modules/tga/                                 @gulpgulpgulpdotengine/import
/modules/tinyexr/                             @gulpgulpgulpdotengine/import
/modules/webp/                                @gulpgulpgulpdotengine/import

## Network
/modules/enet/                                @gulpgulpgulpdotengine/network
/modules/enet/doc_classes/                    @gulpgulpgulpdotengine/network @gulpgulpgulpdotengine/documentation
/modules/mbedtls/                             @gulpgulpgulpdotengine/network
/modules/mbedtls/tests/                       @gulpgulpgulpdotengine/network @gulpgulpgulpdotengine/tests
/modules/multiplayer/                         @gulpgulpgulpdotengine/network
/modules/multiplayer/doc_classes/             @gulpgulpgulpdotengine/network @gulpgulpgulpdotengine/documentation
/modules/multiplayer/tests/                   @gulpgulpgulpdotengine/network @gulpgulpgulpdotengine/tests
/modules/upnp/                                @gulpgulpgulpdotengine/network
/modules/upnp/doc_classes/                    @gulpgulpgulpdotengine/network @gulpgulpgulpdotengine/documentation
/modules/webrtc/                              @gulpgulpgulpdotengine/network
/modules/webrtc/doc_classes/                  @gulpgulpgulpdotengine/network @gulpgulpgulpdotengine/documentation
/modules/websocket/                           @gulpgulpgulpdotengine/network
/modules/websocket/doc_classes/               @gulpgulpgulpdotengine/network @gulpgulpgulpdotengine/documentation

## Physics
/modules/gulpgulpgulpdot_physics_2d/                    @gulpgulpgulpdotengine/physics
/modules/gulpgulpgulpdot_physics_3d/                    @gulpgulpgulpdotengine/physics
/modules/jolt_physics/                        @gulpgulpgulpdotengine/physics

## Rendering
/modules/glslang/                             @gulpgulpgulpdotengine/rendering
/modules/lightmapper_rd/                      @gulpgulpgulpdotengine/rendering
/modules/meshoptimizer/                       @gulpgulpgulpdotengine/rendering
/modules/raycast/                             @gulpgulpgulpdotengine/rendering
/modules/vhacd/                               @gulpgulpgulpdotengine/rendering
/modules/xatlas_unwrap/                       @gulpgulpgulpdotengine/rendering

## Scripting
/modules/gdscript/                            @gulpgulpgulpdotengine/gdscript
/modules/gdscript/doc_classes/                @gulpgulpgulpdotengine/gdscript @gulpgulpgulpdotengine/documentation
/modules/gdscript/icons/                      @gulpgulpgulpdotengine/gdscript @gulpgulpgulpdotengine/usability
/modules/gdscript/tests/                      @gulpgulpgulpdotengine/gdscript @gulpgulpgulpdotengine/tests
/modules/jsonrpc/                             @gulpgulpgulpdotengine/gdscript @gulpgulpgulpdotengine/network
/modules/jsonrpc/tests/                       @gulpgulpgulpdotengine/gdscript @gulpgulpgulpdotengine/network @gulpgulpgulpdotengine/tests
/modules/mono/                                @gulpgulpgulpdotengine/dotnet
/modules/mono/doc_classes/                    @gulpgulpgulpdotengine/dotnet @gulpgulpgulpdotengine/documentation
/modules/mono/icons/                          @gulpgulpgulpdotengine/dotnet @gulpgulpgulpdotengine/usability

## Text
/modules/freetype/                            @gulpgulpgulpdotengine/buildsystem
/modules/msdfgen/                             @gulpgulpgulpdotengine/buildsystem
/modules/text_server_adv/                     @gulpgulpgulpdotengine/gui-nodes
/modules/text_server_adv/doc_classes/         @gulpgulpgulpdotengine/gui-nodes @gulpgulpgulpdotengine/documentation
/modules/text_server_fb/                      @gulpgulpgulpdotengine/gui-nodes
/modules/text_server_fb/doc_classes/          @gulpgulpgulpdotengine/gui-nodes @gulpgulpgulpdotengine/documentation

## XR
/modules/camera/                              @gulpgulpgulpdotengine/xr
/modules/mobile_vr/                           @gulpgulpgulpdotengine/xr
/modules/mobile_vr/doc_classes/               @gulpgulpgulpdotengine/xr @gulpgulpgulpdotengine/documentation
/modules/openxr/                              @gulpgulpgulpdotengine/xr
/modules/openxr/doc_classes/                  @gulpgulpgulpdotengine/xr @gulpgulpgulpdotengine/documentation
/modules/webxr/                               @gulpgulpgulpdotengine/xr
/modules/webxr/doc_classes/                   @gulpgulpgulpdotengine/xr @gulpgulpgulpdotengine/documentation

## Misc
/modules/csg/                                 @gulpgulpgulpdotengine/3d-nodes
/modules/csg/doc_classes/                     @gulpgulpgulpdotengine/3d-nodes @gulpgulpgulpdotengine/documentation
/modules/csg/icons/                           @gulpgulpgulpdotengine/3d-nodes @gulpgulpgulpdotengine/usability
/modules/gridmap/                             @gulpgulpgulpdotengine/3d-nodes
/modules/gridmap/doc_classes/                 @gulpgulpgulpdotengine/3d-nodes @gulpgulpgulpdotengine/documentation
/modules/gridmap/icons/                       @gulpgulpgulpdotengine/3d-nodes @gulpgulpgulpdotengine/usability
/modules/navigation_2d/                       @gulpgulpgulpdotengine/navigation
/modules/navigation_3d/                       @gulpgulpgulpdotengine/navigation
/modules/noise/                               @gulpgulpgulpdotengine/core
/modules/noise/doc_classes/                   @gulpgulpgulpdotengine/core @gulpgulpgulpdotengine/documentation
/modules/noise/icons/                         @gulpgulpgulpdotengine/core @gulpgulpgulpdotengine/usability
/modules/noise/tests/                         @gulpgulpgulpdotengine/core @gulpgulpgulpdotengine/tests
/modules/regex/                               @gulpgulpgulpdotengine/core
/modules/regex/doc_classes/                   @gulpgulpgulpdotengine/core @gulpgulpgulpdotengine/documentation
/modules/regex/icons/                         @gulpgulpgulpdotengine/core @gulpgulpgulpdotengine/usability
/modules/regex/tests/                         @gulpgulpgulpdotengine/core @gulpgulpgulpdotengine/tests
/modules/zip/                                 @gulpgulpgulpdotengine/core
/modules/zip/doc_classes/                     @gulpgulpgulpdotengine/core @gulpgulpgulpdotengine/documentation
/modules/zip/tests                            @gulpgulpgulpdotengine/core @gulpgulpgulpdotengine/tests

# Platform

/platform/android/                            @gulpgulpgulpdotengine/android
/platform/android/doc_classes/                @gulpgulpgulpdotengine/android @gulpgulpgulpdotengine/documentation
/platform/ios/                                @gulpgulpgulpdotengine/ios
/platform/ios/doc_classes/                    @gulpgulpgulpdotengine/ios @gulpgulpgulpdotengine/documentation
/platform/linuxbsd/                           @gulpgulpgulpdotengine/linux-bsd
/platform/linuxbsd/doc_classes/               @gulpgulpgulpdotengine/linux-bsd @gulpgulpgulpdotengine/documentation
/platform/macos/                              @gulpgulpgulpdotengine/macos
/platform/macos/doc_classes/                  @gulpgulpgulpdotengine/macos @gulpgulpgulpdotengine/documentation
/platform/web/                                @gulpgulpgulpdotengine/web
/platform/web/doc_classes/                    @gulpgulpgulpdotengine/web @gulpgulpgulpdotengine/documentation
/platform/windows/                            @gulpgulpgulpdotengine/windows
/platform/windows/doc_classes/                @gulpgulpgulpdotengine/windows @gulpgulpgulpdotengine/documentation

# Scene

/scene/2d/                                    @gulpgulpgulpdotengine/2d-nodes
/scene/2d/navigation/                         @gulpgulpgulpdotengine/2d-nodes @gulpgulpgulpdotengine/navigation
/scene/2d/physics/                            @gulpgulpgulpdotengine/2d-nodes @gulpgulpgulpdotengine/physics
/scene/3d/                                    @gulpgulpgulpdotengine/3d-nodes
/scene/3d/navigation/                         @gulpgulpgulpdotengine/3d-nodes @gulpgulpgulpdotengine/navigation
/scene/3d/physics/                            @gulpgulpgulpdotengine/3d-nodes @gulpgulpgulpdotengine/physics
/scene/3d/xr/                                 @gulpgulpgulpdotengine/3d-nodes @gulpgulpgulpdotengine/xr
/scene/animation/                             @gulpgulpgulpdotengine/animation
/scene/audio/                                 @gulpgulpgulpdotengine/audio
/scene/debugger/                              @gulpgulpgulpdotengine/debugger
/scene/gui/                                   @gulpgulpgulpdotengine/gui-nodes
/scene/main/                                  @gulpgulpgulpdotengine/core
/scene/resources/2d/                          @gulpgulpgulpdotengine/2d-nodes
/scene/resources/2d/skeleton/                 @gulpgulpgulpdotengine/2d-nodes @gulpgulpgulpdotengine/animation
/scene/resources/3d/                          @gulpgulpgulpdotengine/3d-nodes
/scene/resources/animated*                    @gulpgulpgulpdotengine/animation
/scene/resources/animation*                   @gulpgulpgulpdotengine/animation
/scene/resources/audio*                       @gulpgulpgulpdotengine/audio
/scene/resources/font*                        @gulpgulpgulpdotengine/gui-nodes
/scene/resources/shader*                      @gulpgulpgulpdotengine/shaders
/scene/resources/text_*                       @gulpgulpgulpdotengine/gui-nodes
/scene/resources/visual_shader*               @gulpgulpgulpdotengine/shaders
/scene/theme/                                 @gulpgulpgulpdotengine/gui-nodes
/scene/theme/icons/                           @gulpgulpgulpdotengine/gui-nodes @gulpgulpgulpdotengine/usability

# Servers

/servers/audio/                               @gulpgulpgulpdotengine/audio
/servers/camera/                              @gulpgulpgulpdotengine/xr
/servers/debugger/                            @gulpgulpgulpdotengine/debugger
/servers/navigation_2d/                       @gulpgulpgulpdotengine/navigation
/servers/navigation_3d/                       @gulpgulpgulpdotengine/navigation
/servers/physics_2d/                          @gulpgulpgulpdotengine/physics
/servers/physics_3d/                          @gulpgulpgulpdotengine/physics
/servers/rendering/                           @gulpgulpgulpdotengine/rendering
/servers/text/                                @gulpgulpgulpdotengine/gui-nodes
/servers/xr/                                  @gulpgulpgulpdotengine/xr

# Tests

/tests/                                       @gulpgulpgulpdotengine/tests

# Thirdparty

/thirdparty/                                  @gulpgulpgulpdotengine/buildsystem

# Buildsystem (After everything to catch all)

/*.*                                          @gulpgulpgulpdotengine/buildsystem
*.py                                          @gulpgulpgulpdotengine/buildsystem
SConstruct                                    @gulpgulpgulpdotengine/buildsystem
SCsub                                         @gulpgulpgulpdotengine/buildsystem
